@import url('https://fonts.googleapis.com/css?family=Kodchasan:400,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  box-sizing: border-box;
  background: rgba(245, 245, 245, 0);
}

button:focus,
textarea:focus,
input:focus {
  outline: none;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  min-width: 50rem;
  position: relative;
}
.backgroundpic {
  width: 100vw;
  height: 100vh;
  min-width: 50rem;
  background-size: cover !important;
  background-position: center center !important;
  transition: all 0.3s cubic-bezier(0.06, 0.05, 0.855, 0.06);
}

.particles {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  min-width: 25rem;
  height: 50vh;
}
